.slider {
	width: 100%;
	height:380px;
	margin-top:10px;
	position:relative;
	overflow:hidden;
}
.slider .imgs {
	position:absolute;
	top: 0;  left: 0;
	height:240px;
}
.slider .imgs li{
	float:left;
	z-index:0;
}
.slider .indexs {
    position:absolute;
    bottom:15px;
    right:30px;
}
.slider .indexs li {
    width: 22px;
    height: 22px;
    line-height: 22px;
    display: inline-block;
    background: #3e3e3e;
    color: #fff;    
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    margin-left:10px;
}
.slider .indexs li:hover,.slider .indexs li.hover {
    background:#b61b1f;
}